/* Sujal patel 8909298*/
html{
    font: normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(88, 151, 154);
    display: flex;
    flex-direction: column;
}
h1{
    color: rgb(155, 53, 141);
    font-size: 2rem;
}
h2{
    color: #fc9;
    font-size: 2rem;
}
header{
    background-color: hsl(99, 12%, 32%);
}
nav ul li {
    display: inline;
    list-style: none;
}
nav ul li a {
    color: rgb(96, 4, 55);
    border: 0.1em solid;
    background-color: cornsilk;
    text-decoration: none;
    padding: 0.25rem;
}
nav ul li a:hover{
    color: cornsilk;
    background-color: rgb(63, 105, 126) 87, 130);
    border-color: rgb(180, 129, 129);
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
main{
    flex: 2 1 70%;
    background-color: hsl(201, 56%, 68%);
}
aside{
    flex: 1 1 30%;
    background-color: hsl(192, 93%, 49%);
}
aside li{
    list-style-type: square;
    line-height: 2em;
}
aside a{
    color: rgba(222, 8, 16, 0.7);
}
aside, a:hover{
    color: #fc9;
}
footer{
    background-color: hsl(243, 72%, 51%);
}
.structural{
    margin: .5rem;
    padding: .5rem;
    border : 0.1rem solid black;
}
#para1{
    color: rgb(170, 105, 105);
}
#para2{
    color: rgb(58, 32, 32)
}
select, option, label, legend, input[type=subm]{
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}
footer p{
    font-size: 0.75em;
}
form{
    border: 0,1rem dashed darkblue;
    padding: 0.25rem;
}
input[type=text], input[type=email], input[type=submit], select[type=select]{
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}
img{
    width: 100%;
    height: 80%;
}
figure{
    border: 0.1em solid;
}
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
@media(max-width : 600px){
    html{
    font-size: 10px;
}
#gallery{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
section{
    display: block;
}
}